:root{
    --cor-azulzinho: #D8F1FB;
    --cor-preta: #000000;
    --cor-rosa:#EA1C81;
    --cor-branca: #FFFFFF;
    --cor-clara:#b0b0b0;
}

*{
    margin: 0px;
    padding: 0px;
    transition: all 1s;
}

#cabecalho{
    background-color: var(--cor-azulzinho);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#cabecalho nav a{
    text-decoration: none;
    color: var(--cor-preta);
}

#cabecalho nav a:hover{
    background-color: var(--cor-rosa);
    color: var(--cor-branca);
    border-radius: 15px;
    padding: 7px;
}

main #menu{
    background-color: var(--cor-azulzinho);
    border-radius: 10px;
}

main #menu button{
    margin: 10px;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 250px;
    background-color: var(--cor-rosa);
    color: var(--cor-branca);
}

main #marcacoes{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    
    
}



.dash {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100vh;
}