:root{
    --cor-azulzinho: #D8F1FB;
    --cor-preta: #000000;
    --cor-rosa:#EA1C81;
    --cor-branca: #FFFFFF;
    --cor-clara:#b0b0b0;
}

*{
    margin: 0px;
    padding: 0px;
    transition: all 1s;
}

#banner{
    background-color: var(--cor-azulzinho);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

#banner nav a{
    text-decoration: none;
    color: var(--cor-preta);
}

#banner nav a:hover{
    background-color: var(--cor-rosa);
    color: var(--cor-branca);
    border-radius: 15px;
    padding: 7px;
}

main #inscreva {
    text-align: center;
    margin: 100px;
}

main #increvase-formulario{
    margin: 20px;
}


main #increvase-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

main #increvase-formulario input{
    display: block;
    padding: 8px 0px;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--cor-clara);
    border-radius: 8px;
    width: 350px;
}


main #increvase-formulario button{
    margin: 10px;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 10px;
    width: 350px;
    background-color: var(--cor-rosa);
    color: var(--cor-branca);
    cursor: pointer;
}

main .inscreva-formulario-email input{
    padding: 6px;
    /* border: none; */
    outline: none;
    border-radius: 8px;
    width: 350px;
    margin-bottom: 10px;
    border: 1px solid var(--cor-clara);
    
}

main .inscreva-formulario-senha input{
    padding: 6px;
    /* border: none; */
    outline: none;
    border-radius: 8px;
    width: 350px;
    margin-bottom: 10px;
    border: 1px solid var(--cor-clara);
}
