:root{
    --cor-azulzinho: #D8F1FB;
    --cor-preta: #000000;


}

*{
    margin: 0px;
    padding: 0px;
    transition: all 1s;
}

#header{
    background-color: var(--cor-azulzinho);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a{
    text-decoration: none;
    color: var(--cor-preta);
}

