/* media query */

/* se (minha tela for menor ou igual a 990px) então faça alguma coisa */

@media(max-width: 990px){
    #bemVindo{
        display: block;
    }
}

@media(max-width: 800px){ 
    main #form #form-formulario{
        background-image: none;}
}

@media(max-width: 600px){
    main #beneficios #beneficios-servicos{
         display: block;
    }
}

@media(max-width: 552px){
    main .form-consulta #registrese-divisao
    {
        display: block;
    }

}

@media(max-width: 400px){
    main #increvase-formulario button{
        display: block;
        width: 100%;
        
    }
}

@media(max-width: 400px){
    main #increvase-formulario button{
        width: 90%;
    }
}

@media(max-width: 400px){
    main #inscreva{
        margin: auto;
    }
}

@media(max-width: 400px){
    main #increvase-formulario input{
        width: 100%;
    }
}

@media(max-width: 400px){
    main #form-formulario input{
        width: 100%;
    }
}

@media(max-width: 405px){
    main #form-formulario .registra-se button{
        width: 100%;
    }
}