:root{
    --cor-top:#D8F1FB;
    --cor-rosa: #EA1C81;

}

*{
    margin: 0px;
    padding: 0px;
}

#header{
    background-color: var(--cor-top);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .registro{
    text-align: center;
    margin: 20px;
}

main #form-formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
}

main #form-formulario input{
    border-radius: 5px;
    border: 1px solid;
    width: 290px;
    padding: 4px;
    display: block;
}

main #form-formulario .registra-se button{
    border-radius: 10px;
    border: 1px;
    background-color: var(--cor-rosa);
    width: 290px;
    padding: 6px;
    cursor: pointer;
}

main #form-formulario .login button{
    border: none;
    background-color: white;
}